@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/dist/css/adminlte.css';
/* @import '~jq-fakeloader/dist/fakeLoader.min.css'; */
.form{
    border : 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
}
.carte{
    border : 1px solid #ccc;
    box-shadow: 0 0 8px #ccc;
    width: 550px;
    height: 350px;
    /* width: 321px;
    height: 204px; */
}   